.Menu_Lateral {
    position: absolute;
    width: 79px;
    height: 1209px;
    left: 0px;
    top: 1px;
    background: #181125;
}

tabe {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 15px;
    top: 121px;
    background: #C0392B;
    border-radius: 9px;
    text-align: center;
    vertical-align:bottom;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    display: inline-block;

}





    

